{
  "app": {
    "guid": "990f5c48-1ae2-438f-a7e2-2c9eb8d137ca"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators",
    "entitiesSecurity": null,
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "OTkwZjVjNDgtMWFlMi00MzhmLWE3ZTItMmM5ZWI4ZDEzN2Nh",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Normal",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "selectdatabase": "Utilizar banco de dados temporário em disco (H2)",
      "appid": "io.cronapp.apps.gepr",
      "backend": "true",
      "menuPosition": "Horizontal",
      "frontend": "true",
      "social": "false",
      "theme": "Material",
      "authentication": "Normal",
      "mutual": "false"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0
}